vti_encoding:SR|utf8-nl
vti_author:SR|LIVEWEB2\\dovetailinteriors
vti_modifiedby:SR|LIVEWEB2\\dovetailinteriors
vti_timelastmodified:TR|31 Mar 2008 13:02:19 -0000
vti_timecreated:TR|31 Mar 2008 13:02:19 -0000
vti_cacheddtm:TX|31 Mar 2008 13:02:19 -0000
vti_filesize:IR|1368
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{73796B8E-D1D1-4796-A664-B9231CA93A00}
vti_backlinkinfo:VX|Gallery/pages/Lisa\\ Stuart023.html Gallery/pages/Lisa\\ Stuart069.html Gallery/pages/Lisa\\ Stuart168.html Gallery/pages/Lisa\\ Stuart177.html Gallery/ThumbnailFrame.html Gallery/pages/Lisa\\ Stuart165.html Gallery/pages/Lisa\\ Stuart075.html Gallery/pages/Lisa\\ Stuart084.html Gallery/pages/Lisa\\ Stuart093.html Gallery/pages/Lisa\\ Stuart126.html Gallery/pages/Lisa\\ Stuart145.html Gallery/pages/Lisa\\ Stuart192.html Gallery/pages/Lisa\\ Stuart034.html Gallery/pages/Lisa\\ Stuart161.html Gallery/pages/Lisa\\ Stuart170.html Gallery/pages/Lisa\\ Stuart197.html Gallery/pages/Lisa\\ Stuart202.html Gallery/index.html
